@define-color active #2ac7f7;

* {
	border: none;
	font-size: 14px;
	font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF";
	color: @active;
}

window#waybar {
	background: transparent;
}

.modules-left {
	padding: 2px 5px;
	border-radius: 0 15px 15px 0;
	background: black;
	margin-top: 4px;
}

#custom-arch-logo {
	padding: 0 10px;
}

#clock {
	font-size: 14px;
}

#language {
	padding: 0 10px 0 0;
}
