window {
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 20px;
    border: 1px solid rgba(200, 10, 200, 0.4);
	padding: 8px;
	color: #666666;
}

entry {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
	border-color: rgba(200,10,200, 0.4);
	margin: 10px;
	color: #ffffff;
}

#inner-box {
	margin: 10px;
	margin-top: 0px;
	padding: 2px;
}

#entry:selected {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
	padding-left: 16px;
	outline: none;
}
